.save-barcode-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.save-barcode-page h3 {
  font-size: 25px;
  padding: 5px;
  margin: 0;
}

.save-barcode-page form {
  display: flex;
  width: 50%;
  max-width: 500px;
  flex-direction: column;
  align-items: center;
}

.save-barcode-page input {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  margin: 3px;
  width: 90%;
  max-width: 250px;
  margin-bottom: 10px;
  height: 7px;
}

.save-barcode-page button {
  font-family: "Merienda", serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--silver-color);
}

.save-barcode-page button:hover {
  background-color: var(--hover-color);
}

.save-barcode-page button:disabled {
  background-color: var(--dark-color);
}

.barcode-list {
  width: 100%;
}

.barcode-cards {
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
}

.barcode-card {
  padding: 10px;
}

.barcode-card img {
  height: 130px;
  max-width: 100%;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.3s;
  border-radius: 10px;
  border: 1px solid var(--dark-color);
}

.image-container:hover img {
  transform: scale(1.05);
  opacity: 0.7;
}

.image-container .delete-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s;
}

.image-container:hover .delete-button {
  opacity: 1;
}

#barcodesubmit {
  margin: 8px 10px;
}
