.admin-page {
  text-align: center;
  padding-bottom: 20px;
  font-family: "Merienda", serif;
  font-weight: 400;
  font-style: normal;
}

.admin-page h1 {
  font-size: 35px;
}

.admin-page h2 {
  font-size: 25px;
  border-top: var(--silver-color) 3px solid;
  border-bottom: var(--silver-color) 3px double;
  background: linear-gradient(
    45deg,
    #ffffff,
    var(--silver-color),
    #000000,
    #000000,
    #000000,
    var(--silver-color),
    #ffffff
  );
  color: #ffffff;
  padding: 5px;
}

.admin-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 30px;
  gap: 20px;
}

.admin-card {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  border: var(--dark-color) solid 2px;
  background-color: var(--silver-color);
}

.admin-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #000000;
  transition: transform 0.3s ease;
  background-color: var(--silver-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-card:hover img {
  transform: scale(1.1);
}

.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.admin-card:hover .hover-overlay {
  opacity: 1;
}

.delete-icon {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

#addshoe {
  margin: 8px 10px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--silver-color);
  color: #000000;
  font-family: "Merienda", serif;
  width: 100%;
  font-weight: 400;
  font-style: normal;
}

#addshoe:hover {
  background-color: var(--hover-color);
}

#addshoe:disabled {
  background-color: var(--dark-color);
}

.preview input {
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid #000000;
  padding: 5px;
  margin: 3px;
  width: 90%;
}

.preview select {
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid #000000;
  padding: 5px;
  margin: 3px;
  width: 99%;
  line-height: 30px;
}

.preview form {
  padding-bottom: 20px;
  display: flex;
  width: 50%;
  max-width: 150px;
  flex-direction: column;
  align-items: center;
}

.preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 0 20px;
  color: #000000;
}

.preview .shoe-card {
  width: 50%;
  max-width: 250px;
  min-width: 150px;
}

.preview .shoe-info {
  min-height: 70px;
}

.password-input-container {
  position: relative;
}

.password-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.password-section input {
  width: 200px;
  padding: 10px;
  height: 7px;
}

.password-section button {
  font-size: 13px;
  margin-left: 7px;
  padding: 5px;
  background-color: var(--silver-color);
  color: #000000;
  font-family: "Merienda", serif;
  font-weight: 400;
  font-style: normal;
}

.password-section button:disabled {
  background-color: var(--dark-color);
}

.password-section button:hover {
  background-color: var(--hover-color);
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 45%;
  transform: translateY(-50%);
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 2px 6px 3px var(--silver-color);
  padding: 5px 5px;
  width: 130px;
  height: 30px;
}

.navbar:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ffffff,
    #ffffff,
    #ffffff,
    var(--silver-color),
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-model-button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-model-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.navbar:after {
  content: "";
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  transition: background 0.3s ease, transform 0.3s ease;
  background-color: var(--silver-color);
  left: 0;
  top: 0;
  border-radius: 10px;
}

.navbar div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.vertical-line {
  height: 40px;
  width: 2px !important;
  background-color: #000000;
}

.material-icons {
  font-size: 26px;
  transition: color 0.5s;
}

.keyboard-icon {
  color: var(--silver-color);
}

.photo_library-icon {
  color: var(--silver-color);
}

.barcode-icon {
  color: var(--silver-color);
}


.active {
  color: #000000;
}

#keyboard-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#photo_library-content {
  display: none;
  flex-direction: column;
  flex: 1;
}

.add-paragraph {
  display: flex;
  flex-direction: column;
  width: calc(80% + 30px);
  max-width: 330px;
}

.add-paragraph textarea {
  min-height: 50px;
  padding: 15px;
  padding-bottom: 0;
  font-family: "Merienda", serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 10px;
  border: 2px double var(--dark-color);
  outline: none;
  height: auto;
  resize: none;
  overflow: hidden;
}

.add-paragraph button {
  font-family: "Merienda", serif;
  font-weight: 400;
  font-style: normal;
  margin: 8px 10px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--silver-color);
}

.add-paragraph button:hover {
  background-color: var(--hover-color);
}

.box-admin {
  width: calc(80% + 30px);
  max-width: 400px;
  height: auto;
  color: #000000;
  font-size: 16px;
  font-family: "Merienda", serif;
  font-style: normal;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  position: relative;
}

.box-admin:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.box-admin button {
  position: absolute;
  padding: 0;
  margin: 0;
  right: 0;
  width: auto;
  cursor: pointer;
  height: 100%;
  background-color: var(--dark-color);
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  width: 60px;
  font-family: "Merienda", serif;
  font-style: normal;
}

.box-admin textarea {
  width: 72%;
  height: auto;
  min-height: 50px;
  max-height: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding-right: 60px;
  resize: none;
  overflow: hidden;
  padding: 15px 25px 0 15px;
  border: 2px solid var(--dark-color);
  margin: 0;
  outline: none;
  font-family: "Merienda", serif;
  font-style: normal;
}
