.home-page {
  display: flex;
  flex-direction: column;
  flex: 1;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 4px;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.show-all-button {
  display: inline-block;
  margin: 8px 10px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--silver-color);
  text-decoration: none;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #000000;
}

.show-all-button:hover {
  background-color: var(--hover-color);
}

.gender-buttons {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.gender-buttons button {
  width: 200px;
  font-size: 18px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: bold;
  font-family: "Merienda", serif;
  font-style: normal;
  border: var(--silver-color) 1px outset;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px 20px;
  overflow: hidden;
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 1;
}

.gender-buttons button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #000000,
    #000,
    #000,
    var(--silver-color),
    #000,
    #000,
    #000,
    #000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-model-button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
}

@keyframes glowing-model-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.gender-buttons button:after {
  content: "";
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  transition: background 0.3s ease, transform 0.3s ease;
  background-color: var(--silver-color);
  left: 0;
  top: 0;
}

.kids-buttons {
  display: flex;
  flex-direction: row;
}

#boy-button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#girl-button {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.kids-buttons button {
  width: 98px;
  margin: 0 2px;
}

.gender-buttons svg {
  position: relative;
  font-size: 25px;
  margin-right: 10px;
}

.category-section {
  padding-bottom: 20px;
}

.gender-buttons .fa-child {
  font-size: 22px;
}

.gender-section p {
  font-size: 20px;
}

.gender-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    var(--silver-color) 0%,
    var(--silver-color) 30px,
    #d3d2d2 60px,
    #ffffff 75px,
    #ffffff77 100%
  );
  border-top: 2px solid #000000;
  margin-top: -2px;
  align-items: center;
  padding: 0 5px;
}

.gender-section h3 {
  margin-bottom: 25px;
}

.admin-button-container {
  padding: 10px;
  margin-top: -60px;
}

.delivery-info {
  padding: 0px 15px;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.delivery-info p {
  max-width: 400px;
  font-weight: bold;
}

.delivery-info a {
  color: #000000;
  font-style: italic;
  text-decoration: none;
  font-family: "Satisfy", serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  font-size: 17px;
  margin: 2px;
}

.delivery-info a::before {
  background-color: var(--silver-color);
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 70%;
  left: -2px;
  bottom: 2px;
  z-index: -1;
  transform: rotate(-2deg);
}

.waving-flag {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin: 1px;
  padding-bottom: 1px;
  display: inline-block;
}

.gender-buttons button:hover {
  animation: sizeAnimation 0.3s ease-in-out forwards;
}

@keyframes sizeAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.gender-buttons button:not(:hover) {
  animation: removeHoverAnimation 0.3s ease-in-out forwards;
}

@keyframes removeHoverAnimation {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.info-container {
  width: 200px;
  display: flex;
  justify-content: space-around;
}

.info-container svg {
  margin: 0;
}

.info-button {
  width: 63px !important;
  font-style: italic !important;
  text-align: center;
}

.admin-button {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.barcode-button {
  border-radius: 5px !important;
}

.info-button-style {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}
