.boxes-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  flex: 1;
}

.box {
  width: 70%;
  max-width: 300px;
  background-image: url("../assets/images/background.png");
  color: #ffffff;
  font-size: 16px;
  font-family: "Philosopher", serif;
  font-style: normal;
  padding: 15px;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 2px outset var(--gold-color);
}

.box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.box p {
    white-space: normal; 
    word-wrap: break-word; 
    word-break: break-word;
    margin: 0;
  }